{deps_dir,"deps"}.
{deps, [{emqttd,".*",{git,"git@github.com:skynet64/emqttd",{tag,"master"}}},
        {emqttc,".*",{git,"git@github.com:skynet64/emqttc",{tag,"master"}}}]}.
{erl_opts, [{parse_transform,lager_transform},debug_info]}.
{shell,[{config, "sys.config"}, {apps, [mnesia,kvs,emqttd,emq_dashboard]}]}.
